*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --light: #FFC4C4;
    --dark: #23283b;
    --purple: #9156E2;
    --lightPurple: #9a64e4;
    --pink: #E62F89;
    --white: #F7F7F7;
    --black: #212121;
    --red: #FC2D2D;
    --green: #008944;
    --yellow: #FFA600;
    --blue: #374955;
    --darkBlue: #0C2735;
    --whiteHover: #CFD2CF;

}
body{
    background-color: var(--light);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
}
main{
    /* background-color: #131313; */
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    /* border-radius: 10px; */
    user-select: none; 
    box-shadow: 7px 3px 15px #000000;
}
#Display-area{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 270px;
    height: 80px;
    background-color: var(--black);
    color: #fff;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    /* FIXME: */
    padding-left: 10px;
    font-size: 25px;
    
}
/* #Display-area .currentInput{
    text-align: right;
    height: 8vh;
    color: #fff;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}
#Display-area .answerScreen{
    text-align: right;
    color: rgba(150, 150, 150, .8);
    height: 7px;
    line-height: 3;
    font-size: larger;
} */
.keypad-btns{
    display: grid;
    grid: repeat(5,70px) / repeat(4, 70px);
    /* gap: 1px; */
    /* padding-top: 20px; */
}
.keypad-btns button{
    outline: none;
    border: none;
    /* border-radius:8px; */
    /* background-color: #C98474; */
    transition:all .1s;
    
    font-size: 1.5rem;
    /* box-shadow: .5px .5px 2px #fff; */
}
.keypad-btns button:hover{
    font-size: 1.7rem;
}

.keypad-btns .fun-btn{
    color: #000;
    background-color: var(--purple);
    
}
.keypad-btns .num-btn{
    background-color: var(--white);
    color: #000;
}
.num-btn:hover{
    background-color: var(--whiteHover);
    /* box-shadow: .5px .5px 2px #fff inset; */
    /* transform: translateY(-2px); */
}
.fun-btn:hover{
    background-color: var(--lightPurple);
    /* box-shadow: .5px .5px 2px #fff inset; */
    
    /* transform: translateY(-2px); */
}
@media only screen and (max-width: 600px){
   
}
/* .red{
    background-color: var(--red) !important;
    transition: .1s;
}
.red:hover{
    background-color: #008944 !important;
}
.yellow{
    background-color: #FFA600 !important;
}
.yellow:hover{
    background-color: #FF14C5 !important
} */

#btn-equal, #btn-point{
    background-color: var(--pink);
}


